= render 'model_errors', object: object

= form_for(object, builder: BootstrapFormBuilder) do |f|
  = render partial: 'notes/form_fragment', locals: { f: f }
  .form-group
    = f.submit
    = f.cancel
