%fieldset.col-sm-6
  %legend Name
  = f.text_field_block :full_name
  = f.text_field_block :phonetic_full_name

%fieldset.col-sm-6
  %legend Preferred Name
  = f.text_field_block :preferred_name
  = f.text_field_block :phonetic_preferred_name

%fieldset.col-sm-6
  %legend Formal Greeting
  = f.text_field_block :formal_greeting
  = f.text_field_block :phonetic_formal_greeting

%fieldset.col-sm-6
  %legend Important Dates
  = f.text_field_block :date_of_birth
  = f.text_field_block :anniversary

- custom_attributes = f.object.document_attributes.except(*f.object.class.schema.keys)
- if custom_attributes.any?
  %fieldset
    %legend Extras
    - custom_attributes.each do |key,_|
      = f.text_field_block key
